@media(max-width: 1243px){
    main .container  {
        gap: 30px;
    }
    main .container .description {
        padding-top: 35px;
    }
    main .container .description h1 {
        font-size: 3rem;
    } 
    main .container .description p {
        font-size: 1.4rem;
    }

}

@media(max-width: 998px) {
    body {
        margin-inline: 40px
    }

    main .container .description {
        padding-top: 25px;
    }
    main .container .description h1 {
        font-size: 2.5rem;
        max-width: 300px;
    } 
    main .container .description p {
        font-size: 1.4rem;
        line-height: 20px;
    }
}

@media  (max-width: 840px) {
    main .container .description h1 {
        font-size: 2rem;
        max-width: 250px;
    } 

}
@media(max-width: 703px) {
    body {
        margin-inline: 20px
    }
    header .image-logo {
        width: 40%;
        height: 40%;
    }
    
    main .container .description {
        padding-top: 20px;
    }
    main .container .description h1 {
        font-size: 1.8rem;
    } 
    main .container .description p {
        font-size: 1.3rem;
    }
}
@media(max-width: 570px) {

    main .container  {
        gap: 15px;
    }

    main .container .description a .btn-registrer {
        padding: 8px 30px;
    }
    footer .social-links a {
        display: flex;
        align-items: center;
        padding: 8px 8px;
        font-size: 12px;
    }
    
    footer .social-links a:first-child {
        padding: 5px 10px;
    } 
}

@media(max-width: 461px) {
    body {
        background: var(--Violet) url(../images/bg-mobile.svg) center center no-repeat;
        margin: 20px 40px;
    }
    main .container {
        flex-direction: column;
        text-align: center;
    }
    main .container .image-ilustration {
        width: 100%;
        height: 80%;
        margin: 0 auto;
    } 

    main .container .description {
        max-width: 400px;
    }
    main .container .description a .btn-registrer {
        padding: 12px 80px;
    }
    main .container .description h1 {
        max-width: 400px;
        font-size: 2.5rem;
    } 
    main .container .description p {
        font-size: 1.6rem;
        line-height: 25px;
    }
    footer .social-links {
        justify-content: center;
    }
    footer .social-links {
        margin-top: 70px;
    }
}

@media(max-width: 375px) {
    header .image-logo {
        margin-top: 10px;
    }
    main .container  {
        padding-top: 50px;
        gap: 50px;
    }
    main .container .description h1 {
        font-size: 2.3rem;
    } 
    main .container .description p {
        font-size: 1.6rem;
    }
}